<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 35px;
font-weight:normal;
background-color: lightblue;
      }</style>
<title>Akash Kumar Gupta's Blog</title>
</head>
<body>
<div>
<h1>
<a href="/" style="font-family: 'Tangerine', serif;
        font-size: 75px;
font-weight:bold;
text-align: center;
        padding-left:755px;background-color: #f0f0f0;text-shadow: 4px 4px 4px #aaa;
border: 5px dotted blue;"><u>Akash Kumar Gupta's Blog</u></a></h1>
<br>
</div>
{% block content %}
{% endblock %}
</body>
</html>
