<html>
<head>
<title>Akash Kumar Gupta's Blog</title>
</head>
<body>
<div>
<h1>
<a href="/">Akash Kumar Gupta</a></h1>
</div>
<div>
<p>Published :1-July-2018,14:00</p>
<h2><a href="">My First Post</a></h2>
<p>This page belongs to Akash Kumar Gupta,Sophomore at Indian Institute of Technology,Benaras Hindu University,Varanasi-INDIA.I am currently pursuing Integrated Dual Degree course in Mathematics And Computing from the Department Of Mathematical Sciences here.</p>
</div>
<div>
<p>Published : 2-July-2018,12:00 p.m.</p>
<h2>My Second Post</h2>
<p>This is the 2nd day since i have created my blog.Really excited to publish post daily on my own page.</p>
</div>
</body>
</html>
